<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About the word counter</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat nisi. Vestibulum ornare tellus in ipsum eleifend ullamcorper. Nulla porta orci eget elit dignissim maximus. Praesent aliquet imperdiet commodo. Quisque lobortis, urna vitae sollicitudin aliquam, nunc arcu gravida nunc, quis malesuada neque nisl a felis. Aliquam at lacus nulla. Ut ac lectus tellus. Nulla facilisi. Vivamus semper dolor enim, ac rutrum nisi interdum eget.

Maecenas ultrices mattis velit vitae vulputate. Aliquam rhoncus rhoncus lorem at sollicitudin. Quisque tempus elit neque, et aliquam nisi dictum id. Phasellus finibus libero nulla, et venenatis tellus fringilla at. Ut at euismod purus. Fusce finibus massa non leo tristique porttitor. Cras vitae efficitur purus. Donec a iaculis ante, nec placerat nunc.

Vestibulum urna diam, accumsan sit amet condimentum non, rutrum quis metus. Nulla viverra nibh in ullamcorper tempus. Maecenas posuere porta dolor, vel pretium magna. Fusce tempus diam mi, a dapibus odio viverra sit amet. Proin lobortis tristique felis eget ultricies. Sed sem diam, facilisis in sagittis quis, pellentesque non metus. Duis ullamcorper at lacus eu auctor. Vivamus placerat ullamcorper commodo. Integer laoreet pellentesque lobortis. Etiam nec arcu in ante convallis sagittis ac ut tortor. Sed a nulla at tortor tempor euismod. Sed faucibus sagittis metus sed porttitor. Praesent eget nibh mauris. Nulla hendrerit lacus vel egestas pulvinar.

Phasellus iaculis urna eu magna placerat, quis dapibus nunc euismod. Curabitur vulputate a enim vehicula finibus. Sed et pulvinar libero. Mauris accumsan nec magna id facilisis. Donec lectus diam, gravida bibendum lorem at, tincidunt pulvinar magna. Pellentesque imperdiet ante et risus consequat congue. Fusce euismod commodo mi, sit amet bibendum erat fringilla quis. Praesent ultrices lorem in erat posuere condimentum. Donec egestas mauris eget ante suscipit, vitae faucibus felis pellentesque. Fusce at bibendum turpis. Sed hendrerit dui risus. Vestibulum neque sem, convallis nec mattis ut, viverra ut urna. Aliquam erat volutpat. Integer posuere ante metus, vitae eleifend ligula placerat id.

Duis nunc felis, placerat sed porta lacinia, efficitur in turpis. Mauris magna lorem, viverra ut ipsum ac, suscipit feugiat tortor. Suspendisse potenti. Curabitur tellus orci, tincidunt eget convallis nec, egestas eu tellus. Nam interdum ac nisl a hendrerit. Curabitur id mattis nibh. Curabitur gravida imperdiet aliquet. Cras dapibus augue risus, et condimentum nisi tristique eget. Nulla facilisi. Nunc ultricies, erat semper cursus viverra, mi mauris sagittis sapien, at dignissim diam turpis non sapien. Etiam maximus metus a dolor tincidunt, ac varius nisl ornare. Quisque fringilla ex vel facilisis interdum. Aenean commodo sapien magna, nec iaculis nulla suscipit ac. Ut posuere lacus urna, a consequat massa blandit nec. Morbi pellentesque vestibulum sodales.
</p>

<a href="{% url 'home' %}"><button>Back</button></a>
</body>
</html>